@use '../../commons-material/src/lib/theme/styles/index.scss';
@use '@angular/material' as mat;
@use '../../commons-material/src/lib/theme/styles/theme' as cm-theme;

@include mat.core();
@include cm-theme.commons-material-theme();

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--cm-color-bg-page);
  color: var(--cm-color-text-primary);
  font-family: var(--mdc-typography-body1-font-family, Roboto, sans-serif);
}

// Aplicar tema escuro quando necessário
.cm-tema-escuro {
  @include cm-theme.commons-material-dark-theme();
}
