<h2 class="titulo-navegacao">Navegacao</h2>
<nav>
    <ul class="lista-navegacao">
        <li>
            <a class="item-navegacao" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="item-navegacao--ativo">
                Visao geral
            </a>
        </li>
        <li>
            <a class="item-navegacao" routerLink="/dashboard" routerLinkActive="item-navegacao--ativo">
                Componentes
            </a>
        </li>
        <li><a class="item-navegacao" routerLink="/forms" routerLinkActive="item-navegacao--ativo">Formularios</a></li>
        <li><a class="item-navegacao" routerLink="/" routerLinkActive="item-navegacao--ativo">Configuracoes</a></li>
    </ul>
</nav>